@{
    ViewData["Page"] = "Account";
    ViewData["Function"] = "Administrator page";

    if (signInManager.IsSignedIn(User))
    {
        ViewData["Title"] = @User.Identity.Name;
    }
    else
    {
        ViewData["Title"] = "Account";
    }
}

<partial name="/Views/Partials/_Breadcrumb.cshtml" />

<div class="container d-flex justify-content-center">
    <div>
        <a class="btn-theme" asp-controller="products" asp-action="register">Manage products</a>
        <a class="btn-theme" asp-controller="home" asp-action="index">Manage users</a>
    </div>
</div>



