.qq {
    border-style: solid;
    border-width: 1px;
    border-color: #ff0000;
}

.q2 {
    border-style: solid;
    border-width: 1px;
    border-color: #ffc000;
}

html, body {
    font-size: 16px;
    font-family: $font-roboto;
    font-weight: $font-weight-regular;
    color: $color-dark-3;
}

.form-theme {
    padding: 40px 0 50px 0;

    @include lg {
        padding: 40px 0 50px 0;
    }

    .container {
        border: 0px solid $color-dark-5;
        padding: 30px;

        @include md {
            border: 1px solid $color-dark-5;
        }
    }

    .title {
        margin-bottom: 40px;
    }
}

.header-margin {
    margin-top: 80px;
}

.open-menu {
    width: 100vw !important;
    opacity: 0.99;
    transform: translateX(-100%);
}

.invalid {
    border: 1px solid $color-theme-1 !important;
}

.position-static {
    position: static;
}

.position-fixed-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}