
.contact-form {

    display: grid;
    column-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-areas:    "name"
                            "email"
                            "phoneNumber"
                            "organizationName"
                            "message"
                            "terms"
                            "button";
        
    @include lg {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:    "name email"
                                "phoneNumber organizationName"
                                "message message"
                                "terms terms"
                                "button button";
    }

    .name               { grid-area: name; }
    .email              { grid-area: email; }
    .phoneNumber        { grid-area: phoneNumber; }
    .organizationName   { grid-area: organizationName;}
    .terms              { grid-area: terms;  margin: 10px 0; }
    .message            { grid-area: message; }

        
    textarea {
        height: 100px;
        resize: none;
    }

    button {
        grid-area: button;

        @include lg {
            display: flex;
            justify-self: flex-start;
        }
    }
}

