
.signin-form {
    display: grid;
    column-gap: 30px;
    grid-template-columns: 1fr;
    grid-template-areas: "email" "password" "signin";

    .email {
        grid-area: email;
    }

    .password {
        grid-area: password;
    }

    .signin {
        grid-area: signin;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .link {
            font-family: $font-poppins;
            color: $color-dark-1;
            padding-right: 20px;
            text-decoration: none;
            font-weight: $font-weight-medium;

            &:hover {
                color: $color-theme-1
            }
        }
    }
}
