@model SignUpViewModel

@{
    ViewData["Title"] = "SIGN UP";
    ViewData["Page"] = "Home";
    ViewData["Function"] = "Sign Up";
}

<partial name="/Views/Partials/_Breadcrumb.cshtml" />

<section class="form-theme">
    <div class="container">
            
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
            <form class="signup-form" method="post" novalidate>


            <div class="firstname form-group">
                <label asp-for="FirstName" class="form-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <small class="text-danger"><span asp-validation-for="FirstName"></span></small>
            </div>
            <div class="lastname form-group">
                <label asp-for="LastName" class="form-label"></label>
                <input asp-for="LastName" class="form-control" />
                <small class="text-danger"><span asp-validation-for="LastName"></span></small>
            </div>
            <div class="email form-group">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <small class="text-danger"><span asp-validation-for="Email"></span></small>
            </div>
            <!--

            <div class="phone form-group">
                <label asp-for="PhoneNumber" class="form-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <small class="text-danger"><span asp-validation-for="PhoneNumber"></span></small>
            </div>
            -->
            <div class="password form-group">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <small class="text-danger"><span asp-validation-for="Password"></span></small>
            </div>
            <div class="confirmpassword form-group">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <small class="text-danger"><span asp-validation-for="ConfirmPassword"></span></small>
            </div>
            <div class="street form-group">
                <label asp-for="StreetName" class="form-label"></label>
                <input asp-for="StreetName" class="form-control" />
                <small class="text-danger"><span asp-validation-for="StreetName"></span></small>
            </div>
            <div class="postalcode form-group">
                <label asp-for="PostalCode" class="form-label"></label>
                <input asp-for="PostalCode" class="form-control" />
                <small class="text-danger"><span asp-validation-for="PostalCode"></span></small>
            </div>
            <div class="city form-group">
                <label asp-for="City" class="form-label"></label>
                <input asp-for="City" class="form-control" />
                <small class="text-danger"><span asp-validation-for="City"></span></small>
            </div>

            <button class="btn-theme">Submit</button>
        </form>

        </div>
</section>