@model SignInViewModel

<section class="contact-form">
    <div class="container">

        <form method="post" novalidate>


            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div>
                <div class="">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />

                    <span asp-validation-for="Email" class="text-danger" rows="4"></span></small>
                </div>


                <div class="">
                    <label asp-for="Password" class="form-label"></label>
                    <input asp-for="Password" class="form-control" />

                    <span asp-validation-for="Password" class="text-danger" rows="4"></span></small>
                </div>
            </div>


            <button class="btn btn-theme">SIGN IN</button>


        </form>

    </div>
</section>
