@model SignInViewModel

@{
    ViewData["Title"] = "SIGN IN";
    ViewData["Page"] = "Home";
    ViewData["Function"] = "Sign In";
}

<partial name="/Views/Partials/_Breadcrumb.cshtml" />

<section class="form-theme">
    <div class="container">
        <form class="signin-form" method="post" novalidate>

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="email form-group">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <small class="text-danger"><span asp-validation-for="Email"></span></small>
            </div>

            <div class="password form-group">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <small class="text-danger"><span asp-validation-for="Password"></span></small>
            </div>


            <!--fix-->
            <div class="form-checkbox-group">
                <label asp-for="RememberMe" class="form-label"></label>
                <input asp-for="RememberMe" class="form-control" />
                <span class="checkmark"></span>
            </div>
            <!---->


            <div class="signin form-group">
                <button class="btn-theme">Submit</button>
                <a class="link" asp-controller="signup" asp-action="index">REGISTER NEW ACCOUNT</a>
            </div>
        </form>

    </div>
</section>
