<!-- Tab links https://www.w3schools.com/howto/howto_js_tabs.asp -->
<div class="tab">
    <div class="container">
        <button class="tablinks"><a asp-controller="products" asp-action="register">MANAGE PRODUCTS</a></button>
        <button class="tablinks"><a asp-controller="users" asp-action="index">MANAGE USERS</a></button>
    </div>
</div>