

<section class="breadcrumb">
    <div class="container">
        <div class="content">
            <h1>@ViewData["Title"]</h1>
            <ul>
                <li>@ViewData["Page"]</li>
                <li>/</li>
                <li>@ViewData["Function"]</li>
            </ul>
        </div>
    </div>
</section>
