@if(signInManager.IsSignedIn(User))
{
    <nav class="menu-icons user-state">
        <span class="link">@(User.FindFirst("DisplayName")?.Value)</span>
        <a class="link" asp-controller="signout" asp-action="index">Sign out</a>
    </nav>
}
else
{
    <nav class="menu-icons user-state">
        <a class="link" asp-controller="signin" asp-action="index">Sign up/in</a>
    </nav>
}


