@if(signInManager.IsSignedIn(User))
{
    <nav class="menu-icons user-state">
        <a class="link" asp-controller="account" asp-action="index">@(User.FindFirst("DisplayName")?.Value)</a>
        <a class="link" asp-controller="signout" asp-action="index">Sign out</a>
    </nav>
}
else
{
    <nav class="menu-icons user-state">
        <a class="link" asp-controller="signin" asp-action="index">Sign in or up</a>
    </nav>
}


