@model UserViewModel

    <div class="container mt-5">
        <div class="row">
            <div class="col">
                <div class="row">Id</div>
                <div class="row">First name</div>
                <div class="row">Last name</div>
                <div class="row">E-mail address</div>
            </div>                
                
            <div class="col">
                <div class="row">@Model.UserItem.Id</div>
                <div class="row">@Model.UserItem.FirstName</div>
                <div class="row">@Model.UserItem.LastName</div>
                <div class="row">@Model.UserItem.Email</div>
            </div>
        </div>
    </div>
