@if(signInManager.IsSignedIn(User))
{
    <nav class="menu-icons">
        <span class="link">@User.Identity?.Name</span>
        <a class="link user-status" asp-controller="singout" asp-action="index">Sign out</a>
    </nav>
}
else
{
    <nav class="menu-icons">
        <a class="link user-status" asp-controller="signin" asp-action="index">Sign in</a>
    </nav>
}


